#macro( Column $column )
<div class="col-${column.getPropertyValue('mobileModeIfLessThan')}-${column.getPropertyValue('positions')}#printClassNoAttr($button)"#printId($column)>
#foreach($child in $NodeTemplateUtils.getChildren($column.nodeUri))
#@indent()
	#callMacroWithSuffix( $child, "")
#end
#end
</div>
#end