#macro( printId $elt )
#if( "$!elt.getPropertyValue('id')" != "" ) id="$elt.getPropertyValue('id')"#end
#end

#macro( printClass $elt )
#if( "$!elt.getPropertyValue('cssClass')" != "" ) class="$elt.getPropertyValue('cssClass')"#end
#end

#macro( printClassNoAttr $elt )
#if( "$!elt.getPropertyValue('cssClass')" != "" ) $elt.getPropertyValue('cssClass')#end
#end