#macro( Row $row )
<div class="row#printClassNoAttr($row)"#printId($row)>
#foreach($child in $NodeTemplateUtils.getChildren($row.nodeUri))
#@indent()
	#callMacroWithSuffix( $child, "" )
#end
#end
</div>
#end