################################
## Standard event
################################

#macro ( standardEvent_common $node )
#set( $instanceName = "${instance.getPropertyValue('name')}" )
#set( $instanceType = "${NodeTemplateUtils.stripDynamicPrefix(${instance.type})}" )
#set( $simpleType = "${NodeTemplateUtils.stripDynamicPrefix(\${node.type})}" )
#set( $eventType = "${CommonsStringUtils.substringBetween(${simpleType}, '(', ')')}" )
#set( $eventName = "${CommonsStringUtils.substringBefore(${simpleType}, '(')}" )
#end

#macro ( default_handler $node )
#standardEvent_common( $node )
virtual void ${instanceName}_${eventName}(Event* event) {
	$eventType* castedEvent = ($eventType*) event;
#foreach( $invocation in $NodeTemplateUtils.getChildren($node.nodeUri) )
#set( $targetMethodNode = $NodeTemplateUtils.getNode($invocation.getPropertyValue('target')) )
#set( $targetInstance = $NodeTemplateUtils.getParent($targetMethodNode.nodeUri).getPropertyValue('name') )
#set( $targetMethod = $CommonsStringUtils.substringBefore($targetMethodNode.getPropertyValue('name'), '(') )
#set( $targetMethodFull = $targetMethodNode.getPropertyValue('name') )
#@indent()
	#evaluate( "#${invocation.getPropertyValue('template')}" )
#end
#end
}
#end

#macro ( default_addListener $node )
#standardEvent_common()
${instanceName}.${eventName} = new DelegatingListener<ApplicationGen>(this, &ApplicationGen::${instanceName}_${eventName});
#end
