#macro( ValueChangedEvent_value_transferValue )
{
	int value = castedEvent->currentValue;
	${targetInstance}.${targetMethodFull};
}
#end

#macro( ALL__plainInvocation )
{
	${targetInstance}.${targetMethodFull};
}
#end

#macro( ValueChangedEvent__invokeIfHigh )
if (castedEvent->currentValue == HIGH) {
	${targetInstance}.${targetMethodFull};
}
#end

#macro( ValueChangedEvent__invokeIfLow )
if (castedEvent->currentValue == LOW) {
	${targetInstance}.${targetMethodFull};
}
#end

#macro( HttpCommandEvent_name_transferParamName )
{
	char name[32];
	castedEvent->server->getParameterValueFromUrl(castedEvent->url, "name", name);
	if (!${targetInstance}.${targetMethodFull}) {
		castedEvent->server->httpError404();
		return;
	}
}
#end
