################################
## ESP8266NativeNetworkAdapter
################################

#macro( ESP8266NativeNetworkAdapter_init $node )
${node.getPropertyValue('name')}.ssid = "${node.getPropertyValue('ssid')}";
${node.getPropertyValue('name')}.password = "${node.getPropertyValue('password')}";
${node.getPropertyValue('name')}.httpServer = &${node.getPropertyValue('httpServerInstanceName')};
#end
