#macro( metadata $node )#end
#macro( documentation $node )#end
#set( $root = $node )
#foreach( $import in $imports )
\#include <$import>
#end

#foreach( $child in $NodeTemplateUtils.getChildren($node.nodeUri) )
#callMacroWithSuffix( $child, "")
#end

#if ($hasCustomCode)
\#include "CustomCode.h"

ApplicationCustom app;
#else
ApplicationGen app;
#end

void setup() {
	app.setup();
}

void loop() {
	app.loop();
}
