#macro( indent )$TemplateUtils.indent( "$bodyContent" )#end

#macro( callMacro $node )
#evaluate("$NodeTemplateUtils.callMacro($node, '$node')")
#end

#macro( callMacroWithSuffix $node $suffix )
#evaluate("$NodeTemplateUtils.callMacroWithSuffix(\$node, \$suffix)")
#end