#macro( Label $label )
#set( $textToggler = "{" )
#if( "$!label.getPropertyValue('textIfHigh')" != "" )
#set( $textToggler = $textToggler + """1"":""${label.getPropertyValue('textIfHigh')}""," )
#end
#if( "$!label.getPropertyValue('textIfLow')" != "" )
#set( $textToggler = $textToggler + """0"":""${label.getPropertyValue('textIfLow')}""," )
#end
#if( $textToggler.length() > 1 )
#set ( $len = $textToggler.length() )
#set ( $len = $len - 1 )
#set ($textToggler = $textToggler.substring(0, $len) )
#end
#set( $textToggler = $textToggler + "}" )
#set( $classToggler = "{" )
#if( "$!label.getPropertyValue('classIfHigh')" != "" )
#set( $classToggler = $classToggler + """1"":""${label.getPropertyValue('classIfHigh')}""," )
#end
#if( "$!label.getPropertyValue('classIfLow')" != "" )
#set( $classToggler = $classToggler + """0"":""${label.getPropertyValue('classIfLow')}""," )
#end
#if( $classToggler.length() > 1 )
#set ( $len = $classToggler.length() )
#set ( $len = $len - 1)
#set ($classToggler = $classToggler.substring(0, $len) )
#end
#set( $classToggler = $classToggler + "}" )
<div#printId($label)#printClass($label)>
	$!label.getPropertyValue('text').replaceAll("\{\{(.*?)\}\}", "<span bindToProperty=""$1"" textToggler='$textToggler'></span>").replaceFirst("<span", "<span classToggler='$classToggler'")
</div>
#end