#macro( Panel $panel )
<div class="panel panel-primary text-center#printClassNoAttr($panel)"#printId($panel)>
	<div class="panel-heading">$!panel.getPropertyValue('title')</div>
	
	<div class="panel-body">

#foreach($child in $NodeTemplateUtils.getChildren($panel.nodeUri))
#@indent()
		#callMacroWithSuffix( $child, "")
#end
#end

	</div>
</div>
#end